# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
db.sqlite3
*.log
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
