<h2>Today's Attendance</h2>

<p>
  Student: {{ student.first_name }} {{ student.last_name }} <br>
  Date: {{ today }}
</p>

<table border="1" cellpadding="8">
  <tr>
    <th>Period</th>
    <th>Subject</th>
    <th>Status</th>
  </tr>

  {% for a in attendance_list %}
  <tr>
    <td>{{ a.period }}</td>
    <td>{{ a.subject.name }}</td>
    <td>
      {% if a.status == 'P' %}
        <span style="color:green;">Present</span>
      {% elif a.status == 'A' %}
        <span style="color:red;">Absent</span>
      {% else %}
        <span style="color:orange;">Late</span>
      {% endif %}
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">Attendance not marked yet</td>
  </tr>
  {% endfor %}
</table>
