{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ACADAMIX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


</head>
<body>
<!-- {% if user.is_authenticated %}
<a href="{% url 'notifications:notification_list' %}
" class="position-relative">
    🔔
    {% if unread_notification_count > 0 %}
        <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
            {{ unread_notification_count }}
        </span>
    {% endif %}
</a>
{% endif %} -->

{% block content %}
{% endblock %}

</body>
</html>
